*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    font-family: sans-serif;
  }

  .calculator-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }

  .two-cols {
    grid-column: span 2;
  }
